/* main */

#main::before {
    content: "";
    display: block;
    height: 50px;
}

#main .warpper {
    height: 120px;
    background: url(../img/666419d6641cf0faec444fc12b50383d.jpg) no-repeat center;
    background-size: 100% 100%
}

.download-guide {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.border-bottom-new {
    background-image: linear-gradient(0, #e1e1e1, #e1e1e1 50%, transparent 50%);
    background-position: 100% 100%;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    margin: 24px 0 14px;
    height: 30px;
}

.title b {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/下载.png) no-repeat center;
    background-size: 100% 100%;
    margin-right: 8px
}

.title span {
    font-size: 20px;
    color: #111;
    font-weight: bolder;
}

.download-guide .btn {
    display: flex;
    justify-content: center;
}

.download-guide .btn a {
    height: 40px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #f63;
}

.download-guide .btn-oppen {
    color: #f63;
    margin-right: 15px;
}

.download-guide .btn-download {
    color: #fff;
    background-color: #f63;
}


/* main-nav */

.main-nav {
    padding: 0 10px;
    width: 100%;
    background-color: #fff
}

.main-nav .sp1 {
    display: flex;
    flex-wrap: wrap;
}

.main-nav .sp1>li {
    width: 20%
}

.main-nav li a {
    display: block;
    height: 74px;
    padding: 13px 0 0;
    color: #333;
    font-size: 13px
}

.main-nav a img {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto 2px
}

.main-nav a span {
    display: block;
    text-align: center
}

.main-nav .circles {
    line-height: 10px;
    text-align: center
}

.main-nav .circles li {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 4px;
    background-color: #ccc
}

.main-nav .circles .on {
    background-color: #f5734b;
}


/* top-banner */

.border {
    height: 10px;
    background: #f0f0f0
}

.top-banner-img {
    width: 100%
}

.top-banner-img img {
    width: 100%;
}


/* slae */

.slae {
    background-color: #fff;
    padding: 7px 6px 10px;
}


/* sale */


/* slae 顶部 */

.slae>a {
    display: block;
    position: relative;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.slae>a .title-left {
    display: inline-block;
    height: 30px;
    width: 75px;
    background: url(../img/a4af59210e26080ea9403fff6e56e6b1.png) no-repeat 0 -29px;
    background-size: 200px
}

.slae>a .more {
    font-size: 12px;
    float: right;
    padding-right: 18px;
    color: #bbb;
}

.slae>a .bg {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    border: 2px solid #bbb;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-bottom: none;
    border-left: none;
}


/* slae-content */

.slae-content {
    display: flex;
    padding-bottom: 5px
}

.slae-content .slae-content-item {
    width: 33%;
    border-radius: 3px;
    padding: 0 4px;
    display: block;
    box-sizing: border-box;
}

.slae-content-item .item {
    width: 143px;
}

.slae-content-item img {
    width: 100%;
    height: 100%
}

.slae-content-item .item-title {
    color: #333;
    font-size: 14px;
    padding-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slae-content-item .price {
    line-height: 16px;
    height: 16px;
    font-size: 0;
    padding-top: 5px;
    position: relative;
}

.price .price-content {
    color: #f63;
    text-decoration: none;
    font-size: 20px;
}

.price .price-old {
    color: #999;
    font-size: 12px;
    margin-left: 2px;
}


/* indx-for-you */

.indx-for-you {
    background: #fff
}

.indx-for-you .indx-title {
    height: 30px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    color: #777;
}

.indx-for-you .indx-content {
    background-color: #fff;
    position: relative;
}

.indx-content a {
    margin-left: 15px;
    padding: 11px 10px 11px 0;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #eeeeee
}

.indx-content .pic {
    padding-right: 10px
}

.indx-content .pic-tag {
    font-size: 12px;
    transform: scale(.98);
    padding: 3px 7px;
    background-color: #000;
    color: #e5bf86;
    position: absolute;
    font-weight: 700;
}

.indx-content .shop-content {
    flex: 1
}

.shop-content .shop-main {
    display: flex;
    justify-content: space-between;
}

.shop-main .shop-name {
    max-width: 145px;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    padding-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shop-main .shop-tag {
    height: 22px;
    line-height: 15px;
    font-weight: 700;
    padding-top: 1px;
    display: flex;
    width: 8px;
}

.shop-content .shop-name-sup {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #777;
    padding-top: 9px;
    padding-bottom: 13px;
}

.shop-content .item-price {
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 22px;
    padding-right: 4px;
}

.price-related {
    display: flex;
    max-width: 145px
}

.price-current {
    color: #f63;
    font-size: 21px;
    text-decoration: none;
    font-weight: 700;
}

.price-related .price-old {
    font-size: 13px;
    color: #777;
    text-decoration: line-through;
    vertical-align: 1px;
}

.item-price .sale-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 13px;
    color: #777;
    line-height: 24px;
}

.load-warpper a {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #fff;
    color: #333;
    font-size: 15px;
}


/* footer */

footer {
    text-align: center;
    padding: 15px 5px 10px;
    font-weight: 400;
    font-size: 12px;
}

footer a {
    color: #adadad;
    line-height: 28px;
}

footer p {
    color: #d1d1d1;
    margin-top: 20px;
    text-shadow: 0 1px 1px #fff;
}